<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Choose a Date - Beauty Salon</title>
</head>
<body>
<div class="date-container">
  <h2 class="date-title">Choose a Date</h2>
  <form th:action="@{/choose-time}" method="get">
    <input type="hidden" name="stylistId" th:value="${stylistId}">
    <input type="date" name="dateString" required><br>
    <button type="submit" class="time-link">Choose Time</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
